:root {
  /* colors */
  --color-primary: #8B0000;
  --color-secondary: #36454F;
  --color-accent: #FF4500;
  --color-white: #fff;

  /* sizes */
  --banner-size: 50vh;

  /* positions */
  --position-horizontal: center;
}

/* --- GENERAL STYLES --- */
html {
  /* will choose font-family later */
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a,
a:hover,
a:focus-visible {
  color: inherit;
}

/* - BUTTONS -  */
.btn {
  /* common styles */
  display: inline-block;
  padding: .55em 1.5em .5em;
  background-color: var(--color-primary);
  border: .125rem solid var(--color-primary);
  color: var(--color-white);
  border-radius: .25em;
  
  /* link necessary styles */
  text-decoration: none;
  
  /* button necessary styles */
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-white);
}

/* - CONTAINERS -  */
.container {
  max-width: 65em;
  margin: 0 auto;
  padding-inline: auto;
}

/* MOBILE SIZES */

/* --- HEADER --- */
/* figure out how to make navbar stick to top + how to make hamburger nav */
.header {
  background-color: var(--color-primary);
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;
}

.header__logo {
  width: 18rem;
  margin-top: 1.5rem;
}

/* - HEADER NAV - */
.header__nav,
.header__list,
.header__list-item {
  width: 100%;
  height: 100%;
}

.header__nav {
  background-color: var(--color-primary);
}

.header__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.header__list-item {
  text-align: center;

  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.75rem 1.5rem;
} 

.header__list-item:hover,
.header__list-item:focus-visible {
  cursor: pointer;
  background-color: var(--color-accent);
}

/* --- BANNER --- */
.banner {
  background-image: 
      linear-gradient(to bottom, #0009, #0009),
      url('../images/hero-banner.jpg');
  background-position: center;
  background-size: cover;
}

.banner .container {
  min-height: var(--banner-size); 

  display: flex;
  justify-content: var(--position-horizontal);
  align-items: center;

  padding: 0 2rem;
}

/* - BANNER CONTENT - */
.banner__content {
  width: min(35em, 100%);
}

.banner__title {
  font-size: 1.756rem;
  line-height: 1.3;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.banner__text {
  font-size: 1.150rem;
  color: var(--color-white);
  margin-bottom: 1rem;
}

/* --- MEDIA QUERIES --- */

/* TABLET SIZES + */
@media only screen and (min-width: 45em) {
  .btn {
    font-size: 1.150rem;
  }

  /* - HEADER - */
  .header .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  
  .header__logo {
    width: 12rem;
    margin: 0;
  }
  
  /* more optimal solution is possible for this - temp solution */
  .header__nav {
    width: 60%;
  }

  .header__list {
    flex-direction: row;
  }

  .header__list-item {
    padding: 1.5rem 0.75rem;
  }

  /* --- BANNER --- */
  .banner .container {
    --banner-size: 75vh;
  }

}

/* LAPTOP SIZES + */
@media only screen and (min-width: 65em) {
  /* --- BANNER --- */
  .banner .container {
    --position-horizontal: flex-start;
  }
}