/* -------------------- STYLING - GENERAL/COMMON -------------------- */
:root {
  /* colors */
  --color-primary: #a91416;
  --color-secondary: #415460;
  --color-accent: #FF4500;
  --color-white: #fff;
  --color-callout: #e0e0e0;

  /* sizes */
  --banner-size: 50vh;

  /* positions */
  --position-horizontal: center;
}

/* --- GENERAL STYLES --- */
html {
  font-family: "Inter", sans-serif;
}

*:visited {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a,
a:hover,
a:focus-visible {
  color: inherit;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* - BUTTONS -  */
.btn {
  /* common styles */
  display: inline-block;
  padding: 0.55em 1.5em .5em;
  background-color: var(--color-primary);
  border: 0.125rem solid var(--color-primary);
  color: var(--color-white);
  border-radius: 0.25em;

  /* link necessary styles */
  text-decoration: none;
  
  /* button necessary styles */
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-white);
}

/* - TYPE HIERARCHY - */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

p, 
small {
  line-height: 1.5;
}

h1 {
  font-size: 1.476rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.383rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.296rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.215rem;
}

h5 {
  font-size: 1.138rem;
}

h6 {
  font-size: 1.067rem;
}

p {
  font-size: 1rem;
  color: #000;
}

small {
  font-size: 0.937rem;
}

/* - CONTAINERS -  */
.container {
  max-width: 65em;
  margin: 0 auto;
  padding-inline: auto;
}

/* ------ MOBILE SIZES ------ */

/* --- HEADER --- */
/* figure out how to make hamburger nav */
.header {
  background-color: var(--color-primary);

  position: sticky;
  top: 0;
  z-index: 9999;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__main {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
}

.header__logo {
  width: 10rem;
}

/* - HEADER NAV ICON (FOR MOBILE) - */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.header__hamburger-nav-icon {
  font-size: 2rem;
  color: var(--color-white);
}

.header__hamburger-nav-icon:hover,
.header__hamburger-nav-icon:focus {
  cursor: pointer;
  color: var(--color-accent);
}

/* - HEADER NAV - */
.header__nav {
  background-color: var(--color-primary);
  display: var(--header-nav-display);
}

.header__nav--hide {
  --header-nav-display: none;
}

.header__nav--show {
  --header-nav-display: block;
}

.header__nav,
.header__list,
.header__list-item {
  width: 100%;
  height: 100%;
}

.header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__list-item {
  text-align: center;

  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 0.75rem;
} 

.header__list-item:hover,
.header__list-item:focus-visible {
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-white);
}

/* --- FOOTER --- */
.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.footer .container {
  padding: 3rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.5rem;
}

.footer__logo img {
  width: 14rem;
}

.footer__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.footer__nav-list li {
  padding-left: 1rem;
  border-left: 0.125rem solid var(--color-accent);
}

.footer__nav-link {
  color: var(--color-white);
}

.footer__nav-link:hover,
.footer__nav-link:focus-visible {
  color: var(--color-accent);
}

.footer__legal {
  display: flex;
  flex-direction: column;
  
  gap: 1rem;
}

.footer__legal-links {
  display: flex;
  flex-direction: row;
  gap: 0 0.75rem;

  color: var(--color-white);
}

.footer__legal-links a:hover,
.footer__legal-links a:focus-visible {
  color: var(--color-accent);
}

/* -------------------- STYLING - MAIN (INDEX) PAGE -------------------- */

/* --- BANNER --- */
.banner {
  background-image: 
    linear-gradient(to bottom, #0009, #0009),
    url('../images/hero-banner.jpg');
  background-position: center;
  background-size: cover;
}

.banner .container {
  min-height: var(--banner-size); 

  display: flex;
  justify-content: var(--position-horizontal);
  align-items: center;

  padding: 0 2rem;
}

/* - BANNER CONTENT - */
.banner__content {
  width: min(35em, 100%);
}

.banner__title {
  color: var(--color-primary);
}

.banner__text {
  color: var(--color-white);
  margin-bottom: 1rem;
}

/* --- CARD GROUP 1 --- */
.card-group {
  background-color: var(--color-secondary);
}

.card-group .container {
  padding: 5rem 3rem;
}

/* --- CARD GRID --- */
.card-grid {
  grid-area: "card-grid";
  
  display: grid;
  grid-template-columns: 1fr;
  
  gap: 1.5rem;
}

/* --- CARDS --- */
.card {
  background-color: var(--color-white);
  border-radius: 0.5em;
  box-shadow: 0 0.5rem .5rem #fff1;

  display: flex;
  flex-direction: column;
  flex: 2;
}

.card a {
  display: inherit;
  flex-direction: inherit;
  flex: inherit;
}

.card:hover,
.card:focus-visible {
  box-shadow: 0 .25rem .75rem #fff2;
  cursor: pointer;

  transform: translateY(-0.5rem);
  animation-timing-function: ease-in-out;
  
  .card__image:hover {
    background-color: var(--color-accent);
  }

  .card__content-title {
    color: var(--color-accent);
  }
}

.card__image {
  background-color: var(--color-primary);
  border-radius: 0.5rem 0.5rem 0 0;
}

.card__image img {
  aspect-ratio: 1 / 1;
}

/* - CARD CONTENT - */
.card__content {
  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 1.5rem;

  flex: 2;
}

.card__content-title {
  color: var(--color-primary);
  flex: 2;
}

.card__content-text {
  flex: 1;
}

/* --- SPLIT IMAGE CONTENT --- */
.image-content .container {
  padding: 5rem 2rem;

  display: grid;
  align-items: center;
  gap: 3rem;
}

.image-content__image img {
  aspect-ratio: 1 / 1;
}

.image-content__title {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.image-content__text {
  margin-bottom: 1rem;
}

/* --- CARD GROUP 2 --- */
#card-group__2 .card a {
  display: inherit;
  flex: 2;
}

.card-group__title {
  color: var(--color-white);
  margin-bottom: 1rem;
}

#card-group__2 .card__content {
  align-items: flex-start;
  text-align: left;
}

/* -------------------- STYLING - BLOG POST PAGE -------------------- */

/* --- BANNER --- */
.banner--blog-post {
  background-image: 
      linear-gradient(to bottom, #0009 0%, #0009 50%, transparent 80%, #fff 100%),
      url('../images/blog-image-adventurers.jpg');

  background-position: bottom;
}

/* - BANNER CONTENT - */
.banner__text a {
  color: var(--color-primary);
  text-decoration: underline;
}

.banner__text a:hover,
.banner__text a:focus-visible {
  color: var(--color-accent);
}

.banner__tags {
  margin-top: 1.5rem;

  display: flex;
  gap: 1rem;
}

/* --- ARTICLE --- */
.blog-post .container {
  padding: 3rem 2rem;

  display: grid;
  grid-template-areas:
  "article"
  "aside";

  align-items: start;
  gap: 2rem;
}

/* -- ARTICLE MAIN -- */
.blog-post__article {
  grid-area: article;
}

/* - ARTICLE IMAGE - */
.article-main__image img {
  aspect-ratio: 5 / 3;
}

/* - ARTICLE MAIN / ARTICLE FOOTER LINKS - */
.article-main__text a,
.blog-post__article-footer a {
  color: var(--color-primary);
  text-decoration: underline;
}

.article-main__text a:is(:hover, :focus),
.blog-post__article-footer a:is(:hover, :focus) {
  color: var(--color-accent);
}

/* - ARTICLE TEXT - */
.article-main__text h2 {
  margin-top: 2.5rem;
  color: var(--color-primary);
}

.article-main__text h3 {
  margin-top: 2.5rem;
  color: var(--color-accent);
}

.article-main__text .line {    
  width: 3rem;
  height: 0.2rem;

  background-color: var(--color-primary);
}

.article-main__text p {
  margin: 1rem 0;
}


/* - MODIFIER CLASS: CALL OUT - */
.article-main__text--call-out {
  background-color: var(--color-callout);
  border-bottom: 0.25rem solid var(--color-primary);
  padding: 2rem;
}

.article-main__text--call-out h2 {
  margin: 0;
}

/* -- BLOG POST FOOTER -- */
.blog-post__article-footer {
  background-color: var(--color-callout);
  border-bottom: 0.25rem solid var(--color-primary);
  padding: 2rem;

  margin: 1.5rem 0;
}

/* -- ARTICLE ASIDE -- */
.aside {
  grid-area: aside;
}

.aside .container {
  background-color: var(--color-secondary);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aside__title {
  color: var(--color-primary);
}

/* - OTHER ARTICLE TITLES - */
.aside__article-title,
.aside__article-author {
  color: var(--color-white);
}

.aside__article-title:is(:hover, :focus-visible) {
  color: var(--color-accent);
}

/* --------- MEDIA QUERIES --------- */

/* ------ TABLET SIZES + ------ */
@media only screen and (min-width: 45em) {
  .btn {
    font-size: 1.125rem;
  }

  /* - HEADER - */
    .header .container {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1.5rem;
    }
    
    .header__main {
      padding: 0;
      flex: 2;
    }

    .header__logo {
      width: 10rem;
      margin: 0;
    }
    
    .header__hamburger-nav-icon-container {
      display: none;
    }

    .header__nav {
      /* no matter the reason, keep display block */
      --header-nav-display: block;
      flex: 3;
    }
  
    .header__list {
      flex-direction: row;
    }
  
    .header__list-item {
      padding: 1.5rem 0.75rem;
      flex: 1;
    }

  /* --- FOOTER --- */
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    flex: 2 0;
    align-self: flex-start;
  }

  .footer__nav,
  .footer__legal {
    flex: 1 0;
  }

  .footer__nav-list {
    flex-direction: column;
    align-items: flex-start;

    padding-left: 1.5rem;
    border-left: 0.125rem solid var(--color-accent);
  }

  .footer__nav-list li {
    padding-left: 0;
    border-left: none;
  }

  .footer__legal-links {
    flex-direction: column;
  }

  /* --- BANNER --- */
  .banner .container {
    --banner-size: 75vh;
    --position-horizontal: flex-start;
  }

  /* --- CARD GROUP --- */
  .card-group .container {
    padding: 5rem 2rem;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* --- SPLIT IMAGE CONTENT --- */
  .image-content .container {
    grid-template-columns: 1fr 2fr;
  }

  /* --- BLOG POST --- */
  .blog-post .container {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "article aside";
  }

  .aside {
    position: sticky;
    top: 5rem;
  }
}

/* ------ LAPTOP SIZES + ------ */
@media only screen and (min-width: 65em) {
  /* - TYPE HIERARCHY - */
  h1 {
    font-size: 2.027rem;
  }

  h2 {
    font-size: 1.802rem;
  }

  h3 {
    font-size: 1.602rem;
  } */

  h4 {
    font-size: 1.424rem;
  }

  h5 {
    font-size: 1.266rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  small {
    font-size: 0.889rem;
  }

  /* --- CARD GRID --- */
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* --- SPLIT IMAGE CONTENT --- */
  .image-content .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
